/* ------------------------
CSS TABLE OF CONTENTS
# GLOBAL CSS
    # MIXINS
    # TYPOGRAPHY
        # BODY
        # HEADINGS
    # MEDIA
        # IMG   
    # LAYOUT
        # BOX SIZING
        # BODY
        # MAIN
        # SECTION
        # CONTAINER 
    # STRUCTURE
        # SITE FOOTER
    # BREAKPOINTS
        # @MEDIA SMALL
            # BODY
            # CONTAINER
            # TYPOGRAPHY
        # @MEDIA MEDIUM
        # @MEDIA LARGE
    # IMAGES
    # FORM
    # HOVER 
    # MENU 
        # SITE HEADER
        # SITE NAVIGATION
        # MENU BUTTON




------------------------ */
/* BODY */
body {
  font-family: "adobe-caslon-pro", serif;
  font-size: 100%;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.8); }

/* HEADINGS */
h1 {
  font-family: "adobe-caslon-pro", serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  font-size: 3.5em; }

h2 {
  font-family: "franklin-gothic-compressed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5em; }

h3 {
  font-family: "adobe-caslon-pro", serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1em; }

h4 {
  font-family: "franklin-gothic-compressed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1em; }

p {
  font-family: "adobe-caslon-pro", serif;
  font-size: 0.9em;
  max-width: 27em;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.65); }

.site-navigation li {
  font-family: "franklin-gothic-compressed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  list-style: none;
  font-weight: 300;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
  font-family: "franklin-gothic-compressed", sans-serif; }

li {
  font-family: "franklin-gothic-compressed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  list-style: none;
  font-family: "franklin-gothic-compressed", sans-serif;
  font-weight: 200;
  list-style: none;
  color: rgba(0, 0, 0, 0.65); }

a {
  font-family: "franklin-gothic-compressed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  list-style: none;
  font-family: "franklin-gothic-compressed", sans-serif;
  font-weight: 200;
  list-style: none;
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  margin: 0;
  padding: 0; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left; }

section {
  padding: 20vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.container {
  width: 100%;
  max-width: 1000px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
  margin: 0;
  /* flex-wrap: wrap; */
  margin-left: -1%;
  margin-right: -1%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.row .column {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 1%;
  margin-right: 1%; }

.row .column.centered {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.row .column.one-half {
  width: 48%; }

.row .column.one-third {
  width: 31.3333%; }

.row .column.two-thirds {
  width: 64.6666%; }

.row .column.one-fourth {
  width: 23%; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: 1200px; } }

img {
  max-width: 100%;
  height: auto; }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100; }
  .sticky img {
    width: 100px; }

/* SITE-FOOTER */
.site-footer {
  border: 1px solid red;
  background-color: rgba(0, 0, 0, 0.9);
  height: 50vh;
  width: 100vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  bottom: 0; }
  .site-footer h1,
  .site-footer h2,
  .site-footer h3,
  .site-footer h4,
  .site-footer p {
    color: white;
    font-weight: 200; }

.info {
  border: 1px solid red;
  position: absolute;
  right: 2.5vw;
  bottom: 2.5;
  text-align: right; }

#form {
  width: 450px;
  margin: 0;
  left: 0;
  display: inline-block;
  border: 1px solid red; }

#form label {
  display: block;
  float: left;
  width: 95px;
  border: 0px;
  font-family: "franklin-gothic-compressed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1em;
  /* text-align: left; */ }

#form input {
  display: block;
  float: left;
  border: 0px;
  width: 330px;
  font-family: "adobe-caslon-pro", serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  margin-bottom: 10px;
  opacity: 50%; }

#form textarea {
  display: block;
  float: left;
  border: 0px;
  width: 330px;
  height: 140px;
  color: white;
  padding: 5px;
  resize: none; }

#form input.message {
  float: left;
  border: 0px;
  width: 330px;
  height: 140px;
  color: white;
  padding: 5px;
  resize: none; }

#form input.name {
  background: no-repeat 10px 8px;
  opacity: 1; }

#form input.email {
  background: no-repeat 10px 8px;
  opacity: 1; }

#form textarea {
  background: no-repeat 10px 8px;
  opacity: 1; }

#form input.submit {
  cursor: pointer;
  width: 85px;
  height: 30px;
  float: left;
  padding: 5px 5px 5px 5px;
  margin: 10px 0px 0px 95px;
  background: #cccbcb;
  color: black;
  font-family: freight-sans-condensed-pro, sans-serif;
  font-size: 0.75em;
  line-height: 1.2em;
  font-weight: 100;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  border-radius: 0; }

.hover-bars {
  width: 100vw;
  height: 100vh;
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 10vw;
  position: relative; }
  .hover-bars .hover-text {
    position: absolute;
    bottom: 6vw;
    left: 6vw;
    z-index: -1; }
  .hover-bars .jones {
    background-image: url(../img/jones_models.jpg); }
  .hover-bars .luis {
    background-image: url(../img/Luis_Home_Hover.png); }
  .hover-bars .scene {
    background-image: url(../img/Scene_Home.png); }
  .hover-bars .riopele {
    background-image: url(../img/riopele.png); }
  .hover-bars .sedaris {
    background-image: url(../img/sedaris.all.png); }
  .hover-bars .untitled {
    background-image: url(../img/untitled_1.jpg); }
  .hover-bars .hover-grow {
    width: 60px;
    display: block;
    background-size: cover;
    background-position: center center;
    /* Ease in & out */
    -webkit-transition: 0.4s cubic-bezier(1, 0, 0, 1) all;
    -o-transition: 0.4s cubic-bezier(1, 0, 0, 1) all;
    transition: 0.4s cubic-bezier(1, 0, 0, 1) all;
    /* Ease in */
    /* Ease out */
    opacity: 70%; }
    .hover-bars .hover-grow .title {
      opacity: 0;
      position: absolute;
      bottom: 6vw;
      left: 6vw; }
    .hover-bars .hover-grow:hover {
      background-position: center;
      background-size: cover;
      width: 35vw;
      opacity: 100%; }
      .hover-bars .hover-grow:hover .title {
        opacity: 1;
        -webkit-transition: 0.4s all ease-out;
        -o-transition: 0.4s all ease-out;
        transition: 0.4s all ease-out; }

.project-hero {
  height: 100vh;
  width: 100vw; }

.project-title {
  width: 30vw;
  position: absolute;
  bottom: 6vh;
  left: 6vw; }
  .project-title h1 {
    font-size: 2em; }

.project-image {
  top: 0;
  right: 0;
  position: absolute;
  margin: 0; }
  .project-image img {
    height: 100vh;
    width: 60vw;
    overflow: hidden;
    -o-object-position: center;
    object-position: center; }

.objective,
.solution {
  padding-bottom: 2em; }

.parallax-jones {
  background-image: url(../img/jones_models.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.parallax-luis {
  background-image: url(../img/luis_multi.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.parallax-riopele {
  background-image: url(../img/riopele_sketch.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.parallax-sedaris {
  background-image: url(../img/riopele_sketch.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.parallax-scene {
  background-image: url(../img/app.multi.png);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.parallax-untitled {
  background-image: url(../img/untitled_sketch.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.process img {
  max-width: 300px; }

.hero {
  height: 100vh;
  background: #efefef;
  margin: 0;
  padding: 0; }

.slider-container {
  position: relative;
  padding-top: 3em;
  height: 100vh;
  width: 100vw; }

.slide {
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
  height: 100vh; }

.box--1 {
  background-image: url(../img/luis.home.png); }

.box--2 {
  background-image: url(../img/riopele.png); }

.box--3 {
  background-image: url(../img/scene.home.png); }

.box--4 {
  background-image: url(../img/jones.home.png); }

.box--5 {
  background-image: url(../img/sedaris.all.png); }

.box--verse p {
  color: white;
  font-weight: 100;
  font-size: 13px;
  line-height: 1.6em; }

.box--verse {
  width: 300px;
  background-color: black;
  padding: 30px;
  position: absolute;
  bottom: -30px;
  z-index: 2500; }

.site-header {
  min-height: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.site-header h1 {
  font-family: "franklin-gothic-compressed", sans-serif;
  font-family: "franklin-gothic-compressed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .13em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2em;
  letter-spacing: 0.5em;
  position: absolute;
  top: 2.25vw;
  left: 45%;
  z-index: 1000;
  padding: 0; }

.site-nav li a:hover {
  color: black; }

.site-header .site-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid; }
  .site-header .site-nav ul {
    display: inline-block;
    position: absolute;
    -webkit-transform: rotate(-90deg) translate(-100%);
    -ms-transform: rotate(-90deg) translate(-100%);
    transform: rotate(-90deg) translate(-100%);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    width: 100vh;
    margin-top: 0;
    list-style: none;
    padding-top: 5vw;
    padding-left: 15vw;
    padding-bottom: 30vw; }
  .site-header .site-nav li {
    float: left;
    opacity: 0;
    padding-left: 1em;
    padding-right: 1em; }
  .site-header .site-nav.active {
    position: absolute;
    z-index: 10000; }
    .site-header .site-nav.active ul {
      background: white;
      -webkit-transition: all 0.4s cubic-bezier(0, 1, 1, 1);
      -o-transition: all 0.4s cubic-bezier(0, 1, 1, 1);
      transition: all 0.4s cubic-bezier(0, 1, 1, 1); }
    .site-header .site-nav.active li {
      opacity: 0.9;
      -webkit-transition: all 0.4s cubic-bezier(0, 1, 1, 1);
      -o-transition: all 0.4s cubic-bezier(0, 1, 1, 1);
      transition: all 0.4s cubic-bezier(0, 1, 1, 1);
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
      .site-header .site-nav.active li:nth-child(1) {
        -webkit-transition-delay: 1s;
        -o-transition-delay: 1s;
        transition-delay: 1s; }
      .site-header .site-nav.active li:nth-child(2) {
        -webkit-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        transition-delay: 0.8s; }
      .site-header .site-nav.active li:nth-child(3) {
        -webkit-transition-delay: 0.6s;
        -o-transition-delay: 0.6s;
        transition-delay: 0.6s; }
      .site-header .site-nav.active li:nth-child(4) {
        -webkit-transition-delay: 0.4s;
        -o-transition-delay: 0.4s;
        transition-delay: 0.4s; }
      .site-header .site-nav.active li:nth-child(5) {
        -webkit-transition-delay: 1.2s;
        -o-transition-delay: 1.2s;
        transition-delay: 1.2s; }
      .site-header .site-nav.active li:nth-child(6) {
        -webkit-transition-delay: 1.4s;
        -o-transition-delay: 1.4s;
        transition-delay: 1.4s; }
    .site-header .site-nav.active a {
      display: block; }

/* MENU BUTTON */
.menu-button {
  position: absolute;
  top: 3.5vw;
  left: 3.5vw;
  width: 2em;
  height: 1.75em;
  overflow: hidden;
  z-index: 1000000;
  cursor: pointer; }
  .menu-button:before {
    display: inline-block;
    font-size: 1.25em;
    width: 1.5em;
    height: 1.5em;
    content: "\2630";
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.active .menu-button.navicon:before {
  content: "\2630";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.4s all ease-out;
  -o-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out; }
  .active .menu-button.navicon:before .hover-bars {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
