/* ------------------------
CSS TABLE OF CONTENTS
# GLOBAL CSS
    # MIXINS
    # TYPOGRAPHY
        # BODY
        # HEADINGS
    # MEDIA
        # IMG   
    # LAYOUT
        # BOX SIZING
        # BODY
        # MAIN
        # SECTION
        # CONTAINER 
    # STRUCTURE
        # SITE FOOTER
    # BREAKPOINTS
        # @MEDIA SMALL
            # BODY
            # CONTAINER
            # TYPOGRAPHY
        # @MEDIA MEDIUM
        # @MEDIA LARGE
    # IMAGES
    # FORM
    # HOVER 
    # MENU 
        # SITE HEADER
        # SITE NAVIGATION
        # MENU BUTTON




------------------------ */

// VARIABLES
$sans-fontfamily: "franklin-gothic-compressed", sans-serif;
$serif-fontfamily: "adobe-caslon-pro", serif;
// $body-maxwidth: 29em;

//COLORS
$color-black: rgba(0, 0, 0, 0.9);
$color-text-body: rgba(0, 0, 0, 0.7);
$color-darkgrey: rgba(0, 0, 0, 0.65);
$color-midgrey: rgba(0, 0, 0, 0.5);
$color-grey: rgba(185, 184, 184, 0.5);
$color-offwhite: rgb(242, 242, 242);
$color-background: rgb(247, 247, 247);

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORT PARTIALS
@import "partials/mixins";
@import "partials/typography";
@import "partials/img";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";
@import "partials/form";
@import "partials/hover";
@import "partials/subpages";
@import "partials/slider";
@import "partials/menu";
@import "partials/breakpoints";
