@media (min-width: $breakpoint-small) {
    body {
        font-size: 100%;
    }
}

@media (max-width: $breakpoint-small) {
    .container {
        width: 100vw;
    }
    .section {
    }

    .objective,
    .process {
        padding-bottom: 2em;
        margin: 0em;
        padding-left: 0em;
        padding-right: 0em;
    }
    li {
        line-height: 2em;
    }
    .row .column {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .subhead {
        height: 100vh;
        .subtitle {
            padding-left: 1.5em;
            padding-right: 1.5em;
            top: 70vh;
            width: 100vw;
            left: 0;
            padding: auto;
            h1 {
                font-size: 1.75em;
            }
            h2 {
                font-size: 1.25em;
            }
        }

        img {
            height: 65vh;
            width: 100vw;
            object-fit: cover;
            overflow: hidden;
            top: 0;
        }
    }

    .site-header h1 {
        top: 0.75em;
        right: 1.25em;
    }
    .site-header .site-nav {
        ul {
            width: 60vh;
            margin-top: 0;
            list-style: none;
            padding-top: 0em;
            padding-left: 1em;
        }
        li {
            float: left;
            opacity: 0;
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
    }
}

@media (min-width: $breakpoint-large) {
    body {
        font-size: 112.5%;
    }
    .container {
        max-width: 1200px;
    }
}
