@media (min-width: $breakpoint-small) {
    .row {
        display: flex;
        justify-content: center;
    }
    .row .column {
        flex-grow: 1;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .row .column.centered {
        flex-grow: 0;
    }
    .row .column.one-half {
        width: 48%;
    }
    .row .column.one-third {
        width: 40%;
        li {
            font-size: 0.95em;
            letter-spacing: 0.2em;
        }
    }
    .row .column.two-thirds {
        width: 60%;
    }
    .row .column.one-fourth {
        width: 23%;
    }
}

.row.reverse {
    flex-direction: row-reverse;
}
