.hero {
  // height: 100vh;
  background: rgba($color: #efefef, $alpha: 1);
  margin: 0;
  padding: 0;
}

.emilynav-wrapper {
  position: relative;
  padding-top: 5em;
  transition: all ease-in-out .5s;
  display: flex;
  justify-content: flex-end;
  height: 60vh;
  // height: 100vh;
  // width: 100vw;

  .navbox {
    // border: 10px solid red;
    position: relative;
    transition: all ease-in-out .5s;
    width: 33.3333%;
    // height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
  }

  .navbox1 {
    background-image: url(../img/luis.home.png);
  }
  
  .navbox2 {
    background-image: url(../img/riopele.png);
  }
  
  .navbox3 {
    background-image: url(../img/scene.home.png);
  }
  
  .navbox4 {
    background-image: url(../img/jones.ipad.png);
  }
  
  .navbox5 {
    background-image: url(../img/sedaris.all.png);
  }

  a {

  }

  .title-holder {
    position: absolute;
    // top: 0;
    left: 1em;
    bottom: 1em;
    // right: 0;
    // border: 1px solid red;
  }

  .image-holder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // border: 1px solid red;
    img {
      display: none;
    }
  }

}

.page-home {
  .emilynav-wrapper {
    .title-holder {
      display: none;
    }
  }
}

.page-work {
  .emilynav-wrapper {
    display: flex;

      .navbox {
        // border: 10px solid green;
        width: 5%;
        background-size: auto;
      }

      .title-holder {
        display: none;
      }

  }
}

.page-sub {

  .emilynav-wrapper {
    // display: block;
  }

  .navbox1,
  .navbox2,
  .navbox4 {
    width: 0;
    // height: 0;
    overflow: hidden;
  }

}

.page-sub.page-luis .navbox1 { width: 100%; }
.page-sub.page-rio .navbox2 { width: 100%;  }
.page-sub.page-jones .navbox4 { width: 100%; }


