.site-header {
    min-height: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.site-header h1 {
    @include sans-fontrules;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.35em;
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    top: 1.5em;
    right: 2em;
    z-index: 1000;
}

.site-nav li a:hover {
    color: rgba(0, 0, 0, 1);
}

.site-header .site-nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    ul {
        display: inline-block;
        position: absolute;
        transform: rotate(-90deg) translate(-100%);
        transform-origin: top left;
        width: 100vh;
        list-style: none;
        margin-left: 2vw;
    }
    li {
        float: left;
        opacity: 0;
        padding-left: 1em;
        padding-right: 1em;
    }

    &.active {
        position: absolute;
        z-index: 10000;
        ul {
            // background: white;
            transition: all 0.4s cubic-bezier(0, 1, 1, 1);
            padding-bottom: 37vw;
        }
        li {
            transition: all 0.4s cubic-bezier(0, 1, 1, 1);
            transform: translateY(0);
            opacity: 1;

            &:nth-child(1) {
                transition-delay: 1s;
            }
            &:nth-child(2) {
                transition-delay: 0.8s;
            }
            &:nth-child(3) {
                transition-delay: 0.6s;
            }
            &:nth-child(4) {
                transition-delay: 0.4s;
            }
            &:nth-child(5) {
                transition-delay: 1.2s;
            }
            &:nth-child(6) {
                transition-delay: 1.4s;
            }
        }
        a {
            display: block;
        }
    }
}

/* MENU BUTTON */
.menu-button {
    position: absolute;
    top: 1.25em;
    left: 1.2em;
    width: 1.25em;
    height: 1.25em;
    overflow: hidden;
    z-index: 1000000;
    cursor: pointer;
    align-items: center;
    font-size: 1.25em;
    text-align: center;
    transform-origin: center center;

    &:before {
        display: inline-block;
        width: 1.25em;
        height: 1.25em;
        content: "\2630";
    }
}

.active .menu-button.navicon:before {
    content: "\2630";
    transform-origin: center center;
    transform: rotate(-90deg);
    transition: 0.4s all ease-out;
    .hover-bars {
        justify-content: flex-start;
    }
}
