.hero {
  // height: 100vh;
  background: rgba($color: #efefef, $alpha: 1);
  margin: 0;
  padding: 0;
}

.emilynav-wrapper {
  position: relative;
  padding-top: 3em;
  // height: 100vh;
  // width: 100vw;

  .navbox {
    border: 1px solid red;
  }

  // .navbox1 {
  //   background-image: url(../img/luis.home.png);
  // }
  
  // .navbox2 {
  //   background-image: url(../img/riopele.png);
  // }
  
  // .navbox3 {
  //   background-image: url(../img/scene.home.png);
  // }
  
  // .navbox4 {
  //   background-image: url(../img/jones.ipad.png);
  // }
  
  // .navbox5 {
  //   background-image: url(../img/sedaris.all.png);
  // }

  // .navbox6 {
  //   background-image: url(../img/sedaris.all.png);
  // }


}

.page-home {
  .emilynav-wrapper {
    display: flex;
  }
}

.page-work {
  .emilynav-wrapper {
    display: flex;
    justify-content: flex-end;

      .navbox {
        width: 5vw;
      }

  }
}

.page-sub {

  .emilynav-wrapper {
    display: block;
  }

  .navbox1,
  .navbox2,
  .navbox4 {
    width: 0;
    height: 0;
    overflow: hidden;
  }

}

.page-sub.page-luis .navbox1 { width: 100vw; height: 50vh; }
.page-sub.page-rio .navbox2 { width: 100vw; height: 50vh; }
.page-sub.page-jones .navbox4 { width: 100vw; height: 50vh; }


