.project-hero {
    height: 100vh;
    width: 100vw;
}

.project-title {
    width: 30vw;
    position: absolute;
    bottom: 6vh;
    left: 6vw;
    h1 {
        font-size: 2em;
    }
}

.project-image {
    top: 0;
    right: 0;
    position: absolute;
    margin: 0;
    img {
        height: 100vh;
        width: 60vw;
        overflow: hidden;
        object-position: center;
    }
}

.objective,
.solution {
    padding-bottom: 2em;
}

.parallax-jones {
    background-image: url(../img/jones_models.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax-luis {
    background-image: url(../img/luis_multi.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax-riopele {
    background-image: url(../img/riopele_sketch.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax-sedaris {
    background-image: url(../img/riopele_sketch.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax-scene {
    background-image: url(../img/app.multi.png);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.parallax-untitled {
    background-image: url(../img/untitled_sketch.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.process {
    img {
        max-width: 300px;
    }
}
